################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BookMovie/FileContentIndex/a7994ecf-8b24-431f-a91c-5f42f99eb8eb.vsidx
/.vs/BookMovie/FileContentIndex/04ea4228-b7b3-4971-924a-471e8f24a61f.vsidx
/.vs/BookMovie/FileContentIndex/7bb7a760-1b27-4dbb-9ca2-3e00aa59b90b.vsidx
/.vs/BookMovie/FileContentIndex/5554bd0a-d75d-4163-876a-32279539994f.vsidx
/obj/Debug/net6.0/BookMovie.csproj.BuildWithSkipAnalyzers
/.vs/BookMovie/FileContentIndex/6ef1e962-a1ac-4532-a871-f3477d4077fc.vsidx
/.vs/BookMovie/v17/.suo
/.vs/BookMovie/FileContentIndex/c7c61830-5717-48c0-b591-c91d6ca090d5.vsidx
/.vs/BookMovie/FileContentIndex/86d3bde8-b666-4cfd-b0a1-9a7463c5a71c.vsidx
/.vs/BookMovie/FileContentIndex/ccc3cfa3-962a-4ba4-a2d2-1462c538c23f.vsidx
/.vs/BookMovie/FileContentIndex/d38fa351-32a0-44e8-8bfc-cbe888170994.vsidx
/.vs/BookMovie/DesignTimeBuild/.dtbcache.v2
/.vs/BookMovie/FileContentIndex/606772e8-4bc6-42e2-9fe5-528553831b71.vsidx
/.vs/BookMovie/FileContentIndex/0b04319f-0297-44d8-b00f-9c5923c24478.vsidx
